* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*....................................................................Navbar */

/* Navigation Variables */
:root {
    --content-width: 1000px;
    --breakpoint: 799px;
    --nav-height: 70px;
    --nav-background: #262626;
    --nav-font-color: #ffffff;
    --link-hover-color: #ff004f;
}

/* Outer navigation wrapper */
.navigation {
    height: var(--nav-height);
    background: var(--nav-background);
}

/* Logo and branding */
.site-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin: 10px;
    float: left;

}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: var(--nav-height);
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a,
.brand a:visited {
    color: var(--nav-font-color);
    text-decoration: none;
}

/* Container with no padding for navbar */
.nav-container {
    max-width: var(--content-width);
    margin: 0 auto;
}

/* Navigation */
nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: var(--nav-height);
    background: var(--nav-background);
    color: var(--nav-font-color);
    text-decoration: none;
}

nav ul li a:hover {
    background: var(--link-hover-color);
    color: var(--nav-font-color);
}

nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

/* Dropdown list binds to JS toggle event */
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--nav-background);
    height: var(--nav-height);
    width: var(--nav-height);
}

@media only screen and (max-width: 798px) {

    /* Hamburger nav visible on mobile only */
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: var(--nav-height) 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: var(--breakpoint)) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: var(--nav-font-color);
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/*................................................................... Gallery */

.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    padding: 10px 0;

}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 6px;
    margin-right: 0;
}

.gallery .pics:hover {
    filter: opacity(.8);
}

@media(max-width:991px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        column-width: 100%;
        width: 100%;
    }
}

.model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0%;
    box-sizing: border-box;
    padding: 20px 0px 20px;
    margin: 0 auto;
}

.model.open svg {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 3rem;
    height: 3rem;
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

/* ..................................................................................Bio */

.Bio {
    background: gray;
    font-family: 'Alkatra', cursive;
    font-size: 23px;
}

.BioImg {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: 39%;
    margin-right: 50%;
    margin-bottom: 30px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 7px;
}

.biop {
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    text-align: justify;
}

.bioiframe {
    width: 600px;
    height: 400px;
    border: 1px solid gray;
}

/*...................................................................... Testimonials */

.testimonials {
    padding: 40px 0;
    background: url('./img/bg1.jpg');
    color: rgb(57, 57, 57);
    text-align: center;
    background-attachment: fixed;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.inner>h1 {
    color: #ff004f;
}

.border {
    width: 160px;
    height: 5px;
    background: gray;
    margin: 26px auto;
}

.testirow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testicol {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #ffff;
    padding: 30px;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: black;
    margin-bottom: 20px;
}

/*...................................................................................Contact */

#contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(57, 57, 57);
    justify-content: space-around;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* Adjust this value to control the vertical distance between the containers */
}

#contact .content {
    /* max-width: 800px;
    text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #ffff;
}

#contact .content p {
    font-weight: 300;
    color: #ffff;
}

.contactInfo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 30px;
    flex-direction: column;
}

.contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfo .box .contact-Icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: black;
}

.contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #ffff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfo .box .text h3 {
    font-weight: 500;
    color: #ff004f;
}

.contactForm {
    width: 50%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translate(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #ff004f;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}



@media (max-width:600px) {

    .contactContainer,
    .contactForm {
        width: 100%;
        flex-direction: column;
    }
}


/*.......................................................................Other */

.othersgallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 10px 0;
}

.othersgallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.othersgallery.pics:hover {
    filter: opacity(.10);
}

/*.......................................................................Maternity */

.maternity {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 10px 0;
}

.maternity .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.maternity.pics:hover {
    filter: opacity(.10);
}

/*............................................................................. Portfolio */

.pbody {
    background: rgb(57, 57, 57);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Tillana', cursive;
}

#portfolioHeader {
    width: 100%;
    height: 100vh;
    background: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.headerContainer {
    padding: 10px 10%;
}

.headerText {
    margin-top: 20%;
    font-size: 30px;
}

.headerText h1 {
    font-size: 60px;
    margin-top: 20px;
}

.headerText h1 span {
    color: #ff004f;
}

#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: calc(100% - 80px);
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 40px;
}

.about-col-2 {
    flex-basis: 60%;
    margin-right: 10px;
    text-align: justify;
}

.subTitle {
    font-size: 60px;
    font-weight: 600;
    color: #ff004f;
}

.tab-content ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-content ul li span {
    color: #ff004f;
    font-size: 14px;
}

@media only screen and (max-width: 798px) {
    .aboutContainer .row {
        width: 100%;
    }

    .aboutContainer .row>div {
        flex-basis: unset;
        padding: 10px 5vw;
        margin: 0;
    }

    .testicol {
        flex: 100% 1;
        max-width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }

    .testimonial {
        padding: 10px;
    }

    .testimonials .inner {
        padding: 10px 5vw;
    }

    .container.bottom-wrapper {
        flex-direction: column;
    }

}

/*..............................................................................Footer */
.footer {
    height: 90px;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
}

.footer-Icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
}